<div id = "game_background">
	<div id="question_header">
		<img id="photo" src=""></img>
		<div id="question"></div>
	</div>
	
	<div id="answers">
		<div class = "answer"><div x-mojo-element="Button" id="answer0"></div></div>
		<div class = "answer"><div x-mojo-element="Button" id="answer1"></div></div>
		<div class = "answer"><div x-mojo-element="Button" id="answer2"></div></div>
		<div class = "answer"><div x-mojo-element="Button" id="answer3"></div></div>
	</div>
	<!--<div x-mojo-element="ProgressBar" class="loadProgressBar" name="loadProgressBar"></div>-->
	<div x-mojo-element="Button" id="nextQuestion"></div>
	<div id = "status">
		<span id ="round"></span><span id="available_points"></span>
	</div>
	
</div>