<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
	    <div class="title left un-capitalize">
			Import Contacts</div>                         
		<div class="subtitle">
			Please logon to LinkedIn to retrieve your contacts.  This may take several minutes but it only has to be done once.</div>
	</div>
</div>
<div class="palm-header-spacer"></div>
<div class="palm-group">
	<div class="palm-group-title">
		Log In
	</div>
	<div class="palm-list">  
		<div class='palm-row first'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="email" x-mojo-element="TextField" class="un-capitalize"></div>
				</div>
			</div>
		</div>
		<div class='palm-row last'>
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="pass-field" x-mojo-element="PasswordField"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div x-mojo-element="ProgressPill" id="progressbar" name="progressbar" class="progress"></div>
<div id="temp"></div>
<div id="temp2"></div>

<!--<div id = "configure_background">
	<div class="palm-header-spacer"></div>
	<div id="please_login">Please logon to LinkedIn to retrieve your contacts.  This may take several minutes but it only has to be done once.</div>
	<div class="palm-header-spacer"></div>
	<div id = "logon_form">
		<div x-mojo-element="TextField" id="email"></div>
		<div x-mojo-element="PasswordField" id="password"></div>
		<div class="palm-header-spacer"></div>
	</div>
	<div x-mojo-element="ProgressPill" id="progressbar" name="progressbar" class="progress"></div>
	<div id="temp"></div>
	<div id="temp2"></div>
</div>-->